.crew__text {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 1024px) {
        width: 40vw;
    }
    
    @media only screen and (max-width: 1023px) {
        text-align: center;
        padding: 1em;
        max-width: 300px;
    }

    .heading-4 {
        color: gray;
        margin-bottom: 10px;
    }

    .body-text {
        line-height: 2em;
    }
}