.destination__navigation {
    display: flex;
    flex-direction: row;
    width: max-content;
    gap: 2em;
    
    
    @media only screen and (max-width: 1024px) {
        margin: auto;
    }
    
    @media only screen and (min-width: 1024px) {
        margin: 2em;
    }
    
    
    .btn {
        background: transparent;
        border: none;
        padding: 2vw 0;
        color: #d0d6f9;

        &:hover {
            border-bottom: 3px solid rgba(255, 255, 255, 0.5);
            margin-bottom: -3px;
        }
    }

    .active {
        color: white;
        border-bottom: 3px solid white;
        margin-bottom: -3px;
    }
}