#crew__page {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    scroll-behavior: smooth;
    overflow-x: hidden;

    @media only screen and (min-width: 280px) {
        background: url('../../Assets/crew/background-crew-mobile.jpg') no-repeat center center fixed;
        background-size: cover;
        height: 100%;
    }

    @media only screen and (min-width: 767px) {
        background: url('../../Assets/crew/background-crew-tablet.jpg') no-repeat center center fixed;
        background-size: cover;
        height: 100%;
        // padding-bottom: 5vh;
    }

    @media only screen and (min-width: 1024px) {
        background: url('../../Assets/crew/background-crew-desktop.jpg') no-repeat center center fixed;
        background-size: cover;
        height: 100%;
    }

    @media only screen and (min-width: 1440px) {}

    background-clip: border-box;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
}