#crew__page {
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    
    .heading-5 {
        padding-left: 10vw;
        margin: 0;
        
        
        @media only screen and (max-width: 768px) {
            font-size: 5vw;
            margin: 0 auto;
            padding: 0;
        }
    }
    
    @media only screen and (min-width: 280px) {
        justify-content: space-between;
        background: url('../../Assets/crew/background-crew-mobile.jpg') no-repeat center center fixed;
        background-size: cover;
    }
    
    @media only screen and (min-width: 767px) {
        background: url('../../Assets/crew/background-crew-tablet.jpg') no-repeat center center fixed;
        background-size: cover;
    }

    @media only screen and (min-width: 1024px) {
        height: 100vh;
        justify-content: flex-start;
        background: url('../../Assets/crew/background-crew-desktop.jpg') no-repeat center center fixed;
        background-size: cover;
    }

    @media only screen and (max-width: 1024px) and (min-width: 768px) {
        gap: 5vh;
    }

    background-clip: border-box;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
}