.technology__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.5em;

    color: #d0d6f9;

    .heading-5 {
        font-size: 16px;
    }

    .heading-3 {
        color: white;
    }

    @media only screen and (min-width: 768px) {
        max-width: 60vw;
    }

    @media only screen and (min-width: 1024px) {
        text-align: left;
        max-width: 30vw;
    }
}