.action__button {
    display: grid;
    place-items: center;

    width: 220px;
    height: 220px;

    @media only screen and (max-width: 768px) {
        width: 200px;
        height: 200px;

        margin-bottom: 5vh;
    }

    background-color: white;
    border-radius: 100%;
    margin: auto;

    z-index: 1;

    transition: outline 1000ms;

    &:hover {
        outline: 100px solid rgba(255, 255, 255, 0.1);
    }

    &>p {
        text-decoration: none;
    }
}