.text__content {
    width: 35vw;

    @media only screen and (max-width: 1024px) {
        text-align: center;
        min-width: 60vw;
    }

    .heading-5 {
        color: #d0d6f9;
    }

    .body-text {
        line-height: 2em;
        color: #d0d6f9;
    }

    .heading-1 {
        margin: auto;

        @media only screen and (max-width: 768px) {
            text-align: center;
            font-size: 20vw;
        }
    }
}