.hamburger__wrapper {
    display: grid;
    place-items: center;
    margin: 1.5em;
    padding: 1em;
    background: transparent;
    border: none;

    svg {
        margin: auto;
        align-self: center;
    }
}